*{
    font-family: 'Roboto Condensed', sans-serif;
}
body{
    background-color: #000 !important;
}
.header h1{
    font-size:22px;
}
.calendar-section{
    padding:0px 20px;
    background-color: #fff;
}
.jqyc-year{
    font-size: 25px;
}
.jqyc .border-top{
    border:none !important;
}
.jqyc .border-top{
    border-bottom: 1px solid #d2d2d2 !important;
}